[Unit]
Description=ThermoSquid Camera Control Service
After=network.target

[Service]
ExecStart=/bin/bash -l -c '/usr/bin/node /home/pi/git-repos/ThermoSquidCameras_TaskG/servers/camera_server/server.js'
WorkingDirectory=/home/pi/git-repos/ThermoSquidCameras_TaskG/servers/camera_server
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5
User=pi
Environment=NODE_ENV=production
Environment=PATH=/home/pi/motor_env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PYTHONPATH=/home/pi/motor_env/lib/python3.9/site-packages

[Install]
WantedBy=multi-user.target
